.brands__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   max-height: 700px;

  .brands__img--bg {
    width: 100%;
    max-height: 600px;
    height: 100vh;
    // background: url(../img/brands/brands-bg2.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;

    @supports not (background: url(../img/brands/brands-bg2.webp) no-repeat) {
      background: url(../img/brands/brands-bg2.jpg) no-repeat;
    }

    background: url(../img/brands/brands-bg2.webp) no-repeat;
    background-size: cover;
    background-position: top;

    h3 {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      font-size: var(--font-h3);
      color: var(--color-font-primary);
      padding: 5px 10px;
      background: var(--color-primary);
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 7px;
    }
  }

  .brands__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    font-size: var(--font-size);
    color: var(--color-font-primary);

    .brand__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 6px solid var(--color-secondary);
      width: 35%;
      min-height: 450px;
      background-color: var(--color-primary);
      padding: 25px;
      margin-bottom: -200px;

      a {
        text-decoration: none;
      }
    }

    .brand__card:nth-child(1) {
      transform: translateY(-300px);
    }

    .brand__card:nth-child(2) {
      transform: translateY(-200px);
      border: 6px solid var(--color-proline-red);
      background-color: var(--color-proline-black);

      a {
        text-decoration: none;

        color: var(--color-font-primary);
        background-color: var(--color-proline-red);

        &:hover {
          background-color: var(--color-proline-grey);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .brands__box {
    max-height: 800px;
    .brands__img--bg {
      max-height: 600px;
    }

    .brands__cards {
      justify-content: flex-start;

      //   transform: translateY(-300px);

      .brand__card {
        margin-top: 5px;
        width: 100%;
        min-height: 300px;
        margin-bottom: 0;
      }

      .brand__card:nth-child(1) {
        transform: translateY(0px);
      }

      .brand__card:nth-child(2) {
        transform: translateY(0px);
      }
    }
  }
}

@media (max-width: 750px) {
  .brands__box {
    max-height: 1050px;
    .brands__img--bg {
      max-height: 600px;
    }

    .brands__cards {
      justify-content: flex-start;
      //   transform: translateY(-300px);

      .brand__card {
        margin-top: 5px;
        width: 100%;
        min-height: 300px;
      }

      .brand__card:nth-child(1) {
        transform: translateY(0px);
      }

      .brand__card:nth-child(2) {
        transform: translateY(0px);
      }
    }
  }
}
