.texa__box {
  width: 100%;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  .texa__diagnostic {
    width: 50%;
    min-height: 470px;
    background: url(../img/products/texa-diagnostic.jpeg) no-repeat center/cover;
    position: relative;
  }

  .texa__station {
    width: 50%;
    min-height: 470px;
    background: url(../img/products/texa-station.jpg) no-repeat center/cover;
    position: relative;
  }

  // CHECK FOR WEBP IMAGES SUPPORT
  @supports not (
    background: url(../img/products/texa-station.webp) no-repeat center/cover
  ) {
    // if webp not supported, load jpeg
    .texa__diagnostic {
      background: url(../img/products/texa-diagnostic.jpeg) no-repeat
        center/cover;
    }

    .texa__station {
      background: url(../img/products/texa-station.jpg) no-repeat center/cover;
    }
  }

  // load webp
  .texa__diagnostic {
    background: url(../img/products/texa-diagnostic.webp) no-repeat center/cover;
  }

  .texa__station {
    background: url(../img/products/texa-station.webp) no-repeat center/cover;
  }

  .texa--logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 150px;

    img {
      width: 100%;
    }
  }

  h3 {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: var(--font-h3);
    padding: 5px 10px;
    background: var(--color-primary);
    border-radius: 7px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--color-secondary);
      transform: scale(0.98);
      transition: 0.5s ease-in-out;
      overflow: hidden;
    }

    a {
      color: var(--color-font-primary);
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    .texa__diagnostic {
      width: 100%;
      min-height: 350px;
    }

    .texa__station {
      width: 100%;
      min-height: 350px;
    }

    .texa--logo {
      top: 50%;
      transform: translate(-50%, -15%);
      max-width: 125px;
    }
  }
}
