.container {
  max-width: 1111px;
  margin: 0 auto;
  //   background: var(--color-primary-light);
}

.products-grid {
  // margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;

  div {
    position: relative;
    min-width: 2.8rem;
    height: 26vh;
    border-radius: 10px;
    border: 1px solid hsl(213, 99%, 85%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      opacity: 0.7;
      transform: scale(0.98);
      transition: 0.5s ease-in-out;
      overflow: hidden;

      h3 {
        background: var(--color-secondary);
        opacity: 1;
      }
    }

    h3 {
      position: absolute;
      //   top: 3px;
      //   left: 3px;
      bottom: 3px;
      right: 3px;
      font-size: var(--font-h3);
      padding: 5px 10px;
      background: var(--color-primary);
      border-radius: 7px;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      a {
        color: var(--color-font-primary);
        text-decoration: none;
      }
    }
  }

  // !!! ADDING CHECK SUPPORT FOR WEBP IMAGES !!!

  @supports not (
    background: url('../img/products/Auto alati.webp') no-repeat center / cover
  ) {
    // if webp is not supported, load jpeg images
    .tool1 {
      background: url('../img/products/Auto alati.jpg') no-repeat center / cover;
    }

    .tool2 {
      background: url('../img/products/Pneumatski alati.jpg') no-repeat center /
        cover;
    }

    .tool3 {
      background: url(../img/products/Lepkovi.jpg) no-repeat center / cover;
    }

    .tool4 {
      background: url('../img/products/Setovi alata.jpg') no-repeat center /
        cover;
    }

    .tool5 {
      background: url('../img/products/Rucni alat.jpg') no-repeat center / cover;
    }

    .tool6 {
      background: url('../img/products/Obrada materijala.jpg') no-repeat center /
        cover;
    }

    .tool7 {
      background: url(../img/products/Burgije.jpg) no-repeat center / cover;
    }

    .tool8 {
      background: url(../img/products/Sijalice.jpg) no-repeat center / cover;
    }

    .tool9 {
      background: url(../img/products/Hemija.jpg) no-repeat center / cover;
    }

    .tool10 {
      background: url('../img/products/Hemijsko tehnicki proizvodi.jpg')
        no-repeat center / cover;
    }

    .tool11 {
      background: url(../img/products/Vijci.jpg) no-repeat center / cover;
    }
    .tool12 {
      background: url('../img/products/Hemija za ciscenje.jpg') no-repeat center /
        cover;
    }
  }

  // else, if webp is supported, load only webp images
  .tool1 {
    background: url('../img/products/Auto alati.webp') no-repeat center / cover;
  }

  .tool2 {
    background: url('../img/products/Pneumatski alati.webp') no-repeat center /
      cover;
  }

  .tool3 {
    background: url(../img/products/Lepkovi.webp) no-repeat center / cover;
  }

  .tool4 {
    background: url('../img/products/Setovi alata.webp') no-repeat center /
      cover;
  }

  .tool5 {
    background: url('../img/products/Rucni alat.webp') no-repeat center / cover;
  }

  .tool6 {
    background: url('../img/products/Obrada materijala.webp') no-repeat center /
      cover;
  }

  .tool7 {
    background: url(../img/products/Burgije.webp) no-repeat center / cover;
  }

  .tool8 {
    background: url(../img/products/Sijalice.webp) no-repeat center / cover;
  }

  .tool9 {
    background: url(../img/products/Hemija.webp) no-repeat center / cover;
  }

  .tool10 {
    background: url('../img/products/Hemijsko tehnicki proizvodi.webp')
      no-repeat center / cover;
  }

  .tool11 {
    background: url(../img/products/Vijci.webp) no-repeat center / cover;
  }
  .tool12 {
    background: url('../img/products/Hemija za ciscenje.webp') no-repeat center /
      cover;
  }
}
