.footer__content {
  background-color: var(--color-primary);
  color: var(--color-font-primary);
  width: 100%;
  min-height: 58px;
  padding: 5px 0;
  border-radius: 15px;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 50px;

  p {
    text-align: center;
    a {
      color: var(--color-font-primary);
      text-decoration: none;
    }
  }
}

@media (max-width: 700px) {
  .footer__content {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .footer__content {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .footer__content {
    // font-size: 1rem;
    text-align: center;
    flex-direction: column;

    p {
      min-width: 30%;
      margin: 3px 0;
    }
  }
}
